<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
	>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
{% block content %}{% endblock %}

<details id="debug">
	<summary>Debug</summary>
	<pre><code>{{ _context|json_encode(2) }}</code></pre>
</details>
</body>
</html>
